.portfolio__container {
  align-items: center;
  text-align: center;
}
.portfolio__img {
  position: relative;
  padding: 1rem;
}
.portfolio__img img {
  border-radius: 0.5rem;
  padding: 5px;
  background-color: var(--home-color);
}

@media screen and (min-width: 768px) {
  .portfolio__img {
    padding: 0.5rem;
  }
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
