.portfolio {
  background-color: var(--white-color);
}
.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}
.portfolio__img {
  position: relative;
  margin: 3px;
}
.portfolio__img img {
  border-radius: 0.5rem;
  padding: 5px;
  background-color: var(--first-color);
}
.portfolio__link {
  position: absolute;
  z-index: 100;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.portfolio__img:hover .portfolio__link {
  bottom: 0;
  display: flex;
}
.portfolio__link-name {
  position: relative;
  z-index: 100;
  color: var(--dark-color);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.portafolio__icon-i{
  margin: 1rem;
  color: var(--darkviolet-color);
}
.portafolio__icon{
font-size: 30px;

}

@media screen and (min-width: 768px) {
  .portfolio__img {
    margin: 37px;
  }
}
