.skills__container {
  max-width: 100%;
  width: calc(100% - 2rem);
  margin: 1rem;
}
.skills__subtitle {
  color: var(--first-color);
  margin-bottom: 1.5rem;
}
.skills__name {
  display: inline-block;
  font-size: var(--small-font-size);
  background-color: var(--white-color);
  border-radius: 0.25rem;
}

.skills__name:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
.skills__img img {
  border-radius: 0.5rem;
}
.skills__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.skills__items .bx {
  color: white;
  font-size: 50px;
  background-color: violet;
  padding: 1rem;
  border-radius: 50%;
}

.skills__icon {
  margin: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .skills__container {
    align-items: center;
  }

  .skills__subtitle {
    text-align: center;
    margin: 1rem;
  }

  .skills__items {
    display: flex;
    justify-content: space-around;
  }

  .skills__icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .skills__items .bx {
    font-size: 2.5rem;
    margin: 1rem;
  }

  .skills__items .bx:hover {
    transform: scale(1.5);
  }
}
