.home {
  position: relative;
  background-color: var(--home-color);
  overflow: hidden;
  max-width: 100%;
  padding: 0 0.5rem;
}
.home__container {
  height: 89vh;
  row-gap: 5rem;
}
.home__title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5rem 0 3rem;
  font-size: 7rem;
  color: var(--nav-link);
  line-height: 0.8;
  position: relative;
  z-index: 10;
  animation-name: entrada-izquierda;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
@keyframes entrada-izquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.home__subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 3rem 0 0 0;
}
.home__name {
  font-size: 29px;
  color: var(--nav-link);
  white-space: nowrap;
  border-right: 4px solid;
  /* width: 20ch; */
  width: 320px;
  animation: typingN 4s steps(20), blinkN 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typingN {
  from {
    width: 0;
  }
}
@keyframes blinkN {
  50% {
    border-color: transparent;
  }
}
.home__profession {
  margin-bottom: 1rem;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 200px;
  animation: typing 3s steps(23), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: var(--lt-color);
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.home__img {
  max-width: 70%;
    position: absolute;
    right: 33%;
    bottom: 0%;
}
.home__scroll {
  display: flex;
  justify-content: flex-start;
  padding: 8rem 0 0 0;
}
.home__scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--nav-link);
}

@media screen and (min-width: 768px) {
  .home__container {
    height: 100vh;
    grid-template-rows: 1.7fr 1fr;
    row-gap: 0;
    padding: 0.5rem;
  }
  .home__title {
    font-size: 10rem;
  }
  .home__name {
    font-size: 2.6rem;
  }
  .home__profession {
    font-size: 1.6rem;
  }
  .home__img {
    max-width: 70%;
    width: 26%;
    right: 74%;
    bottom: 0%;
  }
  .home__name {
    width: 460px;
  }
  .home__profession {
    width: 320px;
  }
  .home__scroll {
    padding: 0.5rem 0 0 0;
  }
}
