.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--first-color);
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.nav__menu {
  position: fixed;
  top: 3rem;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--first-color) / 60%;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.nav__list {
  display: grid;
  align-items: baseline;
  justify-items: center;
}
.nav__list:hover {
  color: rgb(204, 200, 200);
}
.nav__item {
  margin-bottom: 2rem;
}
.nav__link {
  font-size: 32px;
  font-weight: 900;
  position: relative;
  color: var(--darkviolet-color);
  text-shadow: 1px 5px 0 #969696, 1px 10px 5px #aba8a8,
    2px 8px 20px rgba(206, 89, 55, 0.6);
}

.nav__link:hover {
  color: var(--white-color);
}
.nav__logo {
  font-size: 20px;
  font-weight: 900;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 220, 255, 0.5);
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__menu-active {
  left: 0;
}
.nav__whatsapp {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .nav {
    height: 1rem;
    padding: 1.5rem 0;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    font-size: 16px;
    color: var(--white-color);
    text-shadow: none;
  }
  .nav__link:hover {
    color: #9f719f;
  }
  .nav__menu {
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: auto;
    background-color: transparent;
    backdrop-filter: none;
  }
  .nav__logo {
    padding: 1rem 3rem;
    font-size: 18px;
  }
}
