.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--first-color);
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.nav__menu {
  position: fixed;
  top: 3rem;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--first-color)/60%;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.nav__list {
  display: grid;
  align-items: baseline;
  justify-items: center;
}
.nav__list:hover {
  color: rgb(204, 200, 200);
}
.nav__item {
  margin-bottom: 2rem;
}
.nav__link {
  font-size: 1.2rem;
  position: relative;
  color: whitesmoke;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__logo {
  color: var(--white-color);
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__menu-active {
  left: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 1rem;
    padding: 1.5rem 3rem;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: 2rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--white-color);
  }
  .nav__link:hover {
    color: #9f719f;
  }
  .nav__menu {
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: auto;
    background-color: transparent;
    backdrop-filter: none;
  }
}
