.footer {
  background-color: var(--dark-color);
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 1rem;
  padding: 1rem 0;
}
.footer__container {
  row-gap: 2rem;
}
.footer__title {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin: 1rem 0;
  text-align: center;
}
.footer__text {
  margin: 1em 0;
  color: var(--first-color);
}
.footer__link {
  padding: 1rem 0;
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--first-color);
}
.footer__social {
  font-size: 40px;
  margin: 1rem;
  color: var(--text-color);
}
.footer__social:hover {
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    justify-items: center;
  }
}
