@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --home-color: #dabcdf;
  --text-color: #7a4a82;
  --bg-color: #fafaff;
  --nav-link: #fafaff;
  --lt-color:#4e565c;
}
[data-theme="dark"] {
  --home-color: #673b6e;
  --text-color: #dabcdf;
  --bg-color: #364753;
  --nav-link: #dabcdf;
  --lt-color:#fafaff;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-family: var(--body-font);
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}
